.container
  .panel.panel-default
    .panel-heading Movies
    .panel-body
      .row
        - @movies.each do |movie|
          = render :partial => 'shared/movie', :locals => {:movie => movie}
      %center
        = paginate @movies, :theme => 'twitter-bootstrap-3', :pagination_class => "pagination-sm"
